<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" href="static\css\master.css">
    <link rel="stylesheet" href="static\css\master2.css">
    <link href="static\css\master_style.css" rel="stylesheet">

	<style>
		img{
			vertical-align: middle;
			border: 0;
			max-width: 42%;
			height: auto;
		  }
	</style>
</head>
<body style="background-color: #666666;">

	<nav class="is-sticky-top navbar navigation" role="navigation" aria-label="main navigation">
		<div class="container">
		   <div class="navbar-brand">
			  <a class="navbar-item" href="/">
				 <img class="img-fluid" src="static\images\logo.jpg" alt="godocs" width="155px">
			  </a>
			  <h1 style="font-size: 32px;"> Ozidesk</h1>
	 
		
			  <a role="button" class="navbar-burger burger" aria-expanded="false" data-target="navbar-links">
				 <span aria-hidden="true"></span>
				 <span aria-hidden="true"></span>
				 <span aria-hidden="true"></span>
			  </a>
		   </div>
		
		   <div id="navbar-links" class="navbar-menu">
			  <div class="navbar-start ml-auto">
				 <a class="navbar-item" href="/">Home</a>
				 <a class="navbar-item" href="search.html">Search Page</a>
			  </div>
		
			  <div class="navbar-end ml-0">
				 <div class="navbar-item py-0">
					
	 
					<a href="changelog.html" class="btn btn-sm btn-outline-primary ml-4">changelog</a>
					<a href="contact.html" class="btn btn-sm btn-primary ml-4">contact</a>
				 </div>
			  </div>
		   </div>
		  
		</div>
	 </nav>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Login to continue
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input type="email" class="input100" id="email" name="email" placeholder="Your Email Address">
						<span class="focus-input100"></span>
						
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input type="password" class="input100" id="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
						
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						
						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							Not a Member ? <a class="txt3" href="/register">Signup</a>
						</span>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('../images/f2.jpg');">
				</div>
			</div>
		</div>
	</div>


</body>
</html>