<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>OziDesk</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- theme meta -->
  <meta name="theme-name" content="godocs-bulma" />
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- plugins -->
  <link rel="stylesheet" href="static\css\master.css">
  <link rel="stylesheet" href="static\css\master2.css">
  <!-- Main Stylesheet -->
  <link href="static\css\master_style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>

<nav class="navbar is-sticky-top navigation" role="navigation" aria-label="main navigation">
   <div class="container">
      <div class="navbar-brand">
         <a class="navbar-item" href="index.html">
            <img class="img-fluid" src="static\images\logo.jpg" style="width:110px;height:110px;" alt="godocs" width="155px">
         </a>
         <h1> Ozidesk</h1>
   
         <a role="button" class="navbar-burger burger" aria-expanded="false" data-target="navbar-links">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
         </a>
      </div>
   
      <div id="navbar-links" class="navbar-menu">
         <div class="navbar-start ml-auto">
            <a class="navbar-item" href="/about">About Company</a>
            <a class="navbar-item" href="/internships">Internships</a>
            <a class="navbar-item" href="/contact">Contact</a>
         </div> 
   
         <div class="navbar-end ml-0">
            <div class="navbar-item py-0">
               <a href="/loginrender" class="btn btn-sm btn-outline-primary ml-4">LogIn</a>
               <a href="/register" class="btn btn-sm btn-primary ml-4">Register</a>
            </div>
         </div>
      </div>
   </div>
</nav>

<!-- banner -->
<section class="section pb-0">
   <div class="container">
      <div class="columns is-justify-content-space-between is-align-items-center">
         <div class="column is-7-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
            <h1 class="mb-4">The working environment you dreamt of!</h1>
            <p class="mb-4">Ever wanted to bring about a change into the present Education System ? Join us in this drive! Let us join our hands together to make the world a better place. </p>
            <!--<form class="search-wrapper" action="search.html">
               <input id="search-by" name="s" type="search" class="input input-lg"
                  placeholder="Search Here...">
               <button type="submit" class="btn btn-primary">Search</button>
            </form> -->
            <button type="submit" onclick="location.href='#target'" class="btn btn-primary">Interested ?</button>

         </div>
         <div class="column is-4-desktop hidden-on-tablet">
            <img src="static\images\banner.jpg" alt="illustration" class="img-fluid">
         </div>
      </div>
   </div>
</section>
<!-- /banner -->

<!-- topics -->
<section class="section pb-0">
   <div class="container">
      <h2 id="target" class="section-title">Find the best role for you </h2>
      <div class="columns is-multiline">
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Business Analyst</h3>
                  <img src="static\images\ba.png" alt="illustration" class="img-fluid">

                  <p class="card-text">Does brainstorming give you butterflies ? Being a BA at Ozibook is all you can dream of!  </p>
                  <a href="/applypage" class="stretched-link">Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Data Analyst</h3>
                  <img src="static\images\DA.png" alt="illustration" class="img-fluid">

                  <p class="card-text">Loves playing around data, do you? Are you a good analyst and know python techniques ? You will love being a DA at Ozibook.</p>
                  <a href="list.html" class="stretched-link">Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Research Analyst</h3>
                  <img src="static\images\RA.jpg
                  " alt="illustration" class="img-fluid">

                  <p class="card-text">Doing Research is an art. Getting into Ozibook as a Research Analyst is quite challenging because we look for that extraordinary minds... Are you one among them? </p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
         
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Strategy Officer</h3>
                  <img src="static\images\SO.jpg" alt="illustration" class="img-fluid">

                  <p class="card-text">Strategical decisions and good leadership - what else do a company require? Looking for the sharpest brains with right to point ideas and decisions. Join us and prove your worth.</p>
                  <a href="list.html" class="stretched-link">Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Web developer</h3>
                  <img src="static\images\web.jpg" alt="illustration" class="img-fluid">

                  <p class="card-text">What about some core development work? Improve your expertise in web development with us! </p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">UI/UX Designer</h3>
                  <img src="static\images\ux.jpg" alt="illustration" class="img-fluid">

                  <p class="card-text">Interested in making this page and all our designs perfect using your UI/UX skills? Hop in!</p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Content Writer</h3>
                  <img src="static\images\cw.png" alt="illustration" class="img-fluid">

                  <p class="card-text">Are you good at writing? Be a content writer at Ozibook and improve your expertise in the field. </p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Content Designer</h3>
                  <img src="static\images\cd.png" alt="illustration" class="img-fluid">

                  <p class="card-text">Be the bridge between the content writers and digital account managers, let us beautify the talents with your talent! </p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Video Editor</h3>
                  <img src="static\images\ve.jpg" alt="illustration" class="img-fluid">

                  <p class="card-text">Let us START -- CAMERA -- ACTION ! Edit the uncut videos and spread it to the world of tech! </p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Human Resources</h3>
                  <img src="static\images\hr.jpg" alt="illustration" class="img-fluid">

                  <p class="card-text">Hire the best minds. Help us in finding our GEMS and be a GEM. </p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Law Officer</h3>
                  <img src="static\images\law.png" alt="illustration" class="img-fluid">

                  <p class="card-text">Are you a law student and would like to gain experience in the business filed? Join us ! </p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Technical Assistant</h3>
                  <img src="static\images\tech.jpg" alt="illustration" class="img-fluid">

                  <p class="card-text">Help us in the technical aspects of business. Join us for exciting opportunities </p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Data Entry Operator</h3>
                  <img src="static\images\deo.png" alt="illustration" class="img-fluid">

                  <p class="card-text">Build your experience in Data Entry working with us!  </p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
         
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Intern Onboarding Officer</h3>
                  <img src="static\images\ioo.png" alt="illustration" class="img-fluid">

                  <p class="card-text">Love training people? Come join us in training our interns! </p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Digital Account Manager</h3>
                  <img src="static\images\dam.jpg" alt="illustration" class="img-fluid">

                  <p class="card-text">Managing and maintaining social media handles entertain you? Handle our digital account profiles!</p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
         <!-- topic -->
         <div class="column is-3-widescreen is-4-desktop is-6-tablet">
            <div class="card match-height">
               <div class="card-body">
                  <h3 class="card-title h4">Content Calendar Design</h3>
                  <img src="static\images\cdd.png" alt="illustration" class="img-fluid">

                  <p class="card-text">Are you confident enough to interact with our clients? Build a schedule for the client? Join us </p>
                  <a href="list.html" class="stretched-link"> Apply Now</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- /topics -->

<!-- faq -->
<section class="section pb-0">
   <div class="container">
      <h2 class="section-title">Frequently Asked Questions</h2>
      <div class="columns masonry-wrapper is-multiline">
         <!-- faq item -->
         <div class="column is-6-desktop">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">How is the work culture at Ozibook?</h3>
                  <p class="card-text content">Ozibook promotes healthy team work wherein views of every intern are valued and taken into consideration. 
                    Fruitful team discussions in regular meetings, flexible timings, easy to approach team leads and management, versatility in tasks assigned, 
                    appreciation for initiatives and innovative approach to a problem will make you more committed to your responsibilities at Ozibook</p>
               </div>
            </div>
         </div>
         <!-- faq item -->
         <div class="column is-6-desktop">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">What is the duration of internship?                </h3>
                  <p class="card-text content">Duration of internship is 2 months. 
                    Internship may be extended or converted into full time employment based on your performance.</p>
               </div>
            </div>
         </div>
         <!-- faq item -->
         <div class="column is-6-desktop">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5"> How long can I extend my internship period?</h3>
                  <p class="card-text content">Ozibook is always open for talented and dedicated minds.
                     You can remain with our company for an extended period as you wish,
                      provided that your dedication to the company remains steadfast and the quality
                       of your work continues to meet the expected standards.</p>
               </div>
            </div>
         </div>
         <!-- faq item -->
         <div class="column is-6-desktop">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">What are the working days and number of hours to work per day?
                </h3>
                  <p class="card-text content">Ozibook gives flexibility of working at your own pace and time
                     but expects you to be committed to tasks and their deadlines. As long as you complete &
                      deliver your work before time, you’re good. If the task requires you to put in 4 hours a day,
                       it’s up to you when and how to put them.
                </p>
               </div>
            </div>
         </div>
         <!-- faq item -->
         <div class="column is-6-desktop">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5"> What are the expectations from interns?
                </h3>
                  <p class="card-text content">You need to be proactive and should be proficient in the respective technical 
                    areas of your role. You are required to learn things from time to time when the task demands. 
                    There will be collaboration between different departments so you are expected to learn the basics
                     of how every department functions.</p>
               </div>
            </div>
         </div>
         <!-- faq item -->
         <div class="column is-6-desktop">
            <div class="card card-lg">
               <div class="card-body">
                  <h3 class="card-title h5">Will I get a stipend and a letter of recommendation?</h3>
                  <p class="card-text content">Yes. The perks include Certificate, Letter Of Recommendation
                     (Based on performance), Stipend and flexible work hours.
                </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- /faq -->

<!-- call to action -->
<section class="section">
   <div class="container">
      <div class="columns is-align-items-center">
         <div class="column is-4-desktop has-text-centered hidden-on-tablet">
            <img src="static\images\work.jpg" class="img-fluid" alt="">
         </div>
         <div class="column is-8-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
            <h2 class="mb-3">Still Didn&rsquo;t Find Your Answer?</h2>
            <p>Get in touch with us and clear all your doubts.</p>
            <a href="/contact" class="btn btn-primary">Submit a ticket</a>
         </div>
      </div>
   </div>
</section>
<!-- /call to action -->

<footer>
   <div class="container">
      <div class="columns is-multiline is-align-items-center border-bottom py-5">
         <div class="column is-4-desktop is-12-tablet">
            <ul class="list-inline footer-menu has-text-centered has-text-left-desktop">
               <li class="list-inline-item"><a href="changelog.html">Home</a></li>
               <li class="list-inline-item"><a href="/contact">Contact</a></li>
               <li class="list-inline-item"><a href="search.html">Privacy</a></li>
            </ul>
         </div>
         <div class="column is-4-desktop is-12-tablet">
            <a class="navbar-brand is-justify-content-center" href="index.html">
               <img class="img-fluid" src="static\images\logo.jpg" style="width:110px;height:110px;" alt="Hugo documentation theme">
            </a>
         </div>
         <div class="column is-4-desktop is-12-tablet">
            <ul class="list-inline social-icons has-text-right-desktop has-text-centered">
            <!--   <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
               <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
               <li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>
               <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>-->
            </ul>
         </div>
      </div>
      <div class="py-4 has-text-centered">
         <small class="text-light">OziBook -- Ozigen</a></small>
      </div>
   </div>
</footer>

<!-- plugins -->
<script src="plugins/jQuery/jquery.min.js"></script>
<script src="plugins/masonry/masonry.min.js"></script>
<script src="plugins/clipboard/clipboard.min.js"></script>
<script src="plugins/match-height/jquery.matchHeight-min.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>
